name: Cache Dependencies

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create cache directory
        run: mkdir -p ~/.cache

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-81d83cc

      - name: prime-cache-81d83cc
        run: echo "Cache hit - ${{ steps.cache-step.outputs.cache-hit }}"
